@page "/"

<!-- Carousel -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/6ea1f2ff-a857-48e9-86ff-bbd4967f8af1.png" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h2>Coming Soon to Epic Marketplace</h2>
                <p>Train Ops is a sandbox train game where you create your own railroad and operate with friends.</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/6ea1f2ff-a857-48e9-86ff-bbd4967f8af1.png" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h2>Explore New Horizons</h2>
                <p>Discover endless opportunities in our new sandbox universe.</p>
                <a href="#" class="btn btn-primary">Explore</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/6ea1f2ff-a857-48e9-86ff-bbd4967f8af1.png" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h2>Join the Community</h2>
                <p>Connect with players and share your creations.</p>
                <a href="https://discord.gg/dnvGRXvDWZ" class="btn btn-primary">Join Now</a>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Twitch Streams -->
<div class="stream-section">
    <h2 class="text-center">Twitch Streams</h2>

    <iframe src="https://player.twitch.tv/?channel=smidgon&parent=localhost&muted=true"
            height="400" width="720"
            allowfullscreen class="my-4"></iframe>

    <iframe src="https://player.twitch.tv/?channel=viperstudiosandy&parent=localhost&muted=true"
            height="400" width="720"
            allowfullscreen class="my-4"></iframe>
</div>
